---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="About Me"
    description="Learn about Bruno Zub's. A tech enthusiast with a passion for problem-solving."
    pubDate={new Date('September 03 2025')}
    heroImage="/blog-placeholder-about.jpg"
>
    <p>
        Hello, I'm Bruno Zub — a tinkerer, problem-solver, and tech enthusiast making my way into IT after a few scenic detours.
    </p>

    <p>
        My path into IT wasn't exactly straight. At 17, with the wisdom of a confused potato, I went to college for civil engineering. I learned to break down complex problems and it gave me a solid base in analytical thinking—but passion was… under construction.
    </p>

    <p>
        I then moved to London and onto a creative career I never imagined possible: video editing. That role turned out to be its own adventure, teaching me adaptability, how to juggle deadlines, and the art of talking with clients without sounding like a malfunctioning robot.
    </p>

    <p>
        Now I’m bringing all that chaos-tested experience into IT, where problem-solving finally feels like home.
    </p>
</Layout>




